.vscode/settings.json
src/__pycache__/support.cpython-38.pyc
src/.ipynb_checkpoints/get_despesas-checkpoint.ipynb
src/.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/__pycache__/support.cpython-310.pyc
